* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

div, canvas {
    display: block;
    margin: 0 auto;
}
input, label {
    display: inline;
}
label {
    clear: right;
}
